.slide {
  margin-top: 40px;
  width: 100%;
  height: calc(100vh - 80px);
  transition: 2s;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-part {
  width: 40%;
  height: auto;
}

.text-part h1 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: var(--purple);
  font-family: "Zen Antique", serif;
}

.text-part p {
  font-size: 2rem;
  text-align: center;
  font-family: "Zen Antique", serif;
}

.slide img {
  height: 70%;
  object-fit: contain;
}

@media (max-width: 1050px) {
  .text-part h1 {
    font-size: 2rem;
  }
  .text-part p {
    font-size: 1.3rem;
  }
  .slide img {
    height: 60%;
  }
}

@media (max-width: 800px) {
  .text-part h1 {
    font-size: 1.7rem;
  }
  .text-part p {
    font-size: 1.2rem;
  }
  .slide img {
    width: 85%;
    height: 40%;
    object-fit: contain;
  }
  .text-part {
    width: 90%;
    margin-bottom: 4rem;
  }
  .slide {
    flex-direction: column;
    justify-content: center;
  }
}
